body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 150px;
    margin-bottom: 250px;
}

#post {
    display: flex;
    flex-direction: column;
}

#title {
    font-size: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.infoBox {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.Survival {
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    background-color: orangered;
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 2px;
}

.Full {
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 2px;
}

.user_name {
    font-weight: bold;
    margin-right: 5px;
}

.date {
    color: rgba(0, 0, 0, 0.4);
}

#text {
    min-height: 400px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: normal;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow-wrap: break-word;
}

#Btns {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    margin-left: 3px;
    margin-right: 3px;
    padding: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#comments {
    padding-top: 50px;
}

#commentForm {
    padding-top: 20px;
    padding-bottom: 30px;
}

#commentForm > textarea {
    width: 100%;
    resize: none;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    border: 0;
}

#commentForm > textarea:focus {
    padding: 0;
    border: 0;
    outline: 0;
}

.commentContainer {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.comment {
    padding-top: 10px;
    padding-bottom: 10px;
}

#download {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0;
    padding-top: 15px;
    padding-bottom: 20px;
}